<p>
  <%= @sentence1 %>
</br>
  <% if @sentence1 != @sentence2 %>
    <%= @sentence2 %>
  <% end %>
</br>
  <% if @sentence3 != @sentence2 && @sentence3 != @sentence1 %>
    <%= @sentence3 %>
  <% end %>
</p>
