<div class="row main-content">
  <div class="col s12 m10 l8 offset-m1 offset-l2">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text center-align">
        <span class="card-title">Random words or a Jaden Smith tweet?</span>
      </br>_____________________________________________________________
        <p><%= render ["randomwords", "tweet"].sample %></p>
      </div>
      <div class="card-action center-align">
        <a><%= link_to "Random Words", root_path, class:"btn-flat blue-grey darken-3" %></a>
        <a><%= link_to "Jaden Tweet", root_path, class:"btn-flat blue-grey darken-3", onclick:"toast();" %></a>
      </div>
    </div>
  </div>
</div>
